@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles: mobile first */
html, body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    background: #fff;
    color: #222;
    overflow-x: hidden;
}

#container {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 1em;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

#container figure{
    width: 40%;
    height: auto;
    overflow: hidden;
}

.logo{
    width: 80%;
    height: auto;
    display: block;
}

.btn{
    padding: 0.6em 2em;
    border-radius: 50px;
    border: none;
    color: #fff;
}

.nav-button{
    background-color: #13183F;
}

.nav-button:active,
.nav-button:hover{
    background-color: #666CA3;
}


/*----header-----*/
.header-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 1.9rem;
    margin-bottom: 1em;
}

header p{
    margin-bottom: 1em;
    font-size: 1.2rem;
}

.header-btn{
        background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
        font-size: 1em;
}

.header-btn:hover{
    background-color: #FFA7C3;
}

#container picture{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hero-image{
    max-width: 100%;
    height: auto;
    display: block;
}



/****------Grid session------****/

main{
    width: 100%;
    margin: 0 auto;
}

.grid{
    width: 100%;
    margin: 0 auto;
}

.grid-boxes:first-child{
    padding: 0;
    border-radius: 10px ;
    width: 100%;
    background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    color: #fff;
    padding: 1em;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-bottom: 3rem;
   
}

.grid-boxes:first-child p{
  line-height: 1.5em;
}


.grid-boxes{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto 3em;
   background: #fff; /* white background */
    box-shadow: 0 4px 40px rgba(0,0,0,0.08); /* subtle shadow */
    padding: 2em;
    width: 100%;
    position: relative;
    color: #13183F;
    border-radius: 10px;
}

.grid-boxes img{
    position: absolute;
    top: -30px;
}

.grid-boxes h3{
    font-size: 1em;
    margin: 1em 0;
}

.grid-boxes p{
    line-height: 1.5rem;
    margin-bottom: 1em;
}

.grid-boxes button{
    color: #F02AA6;
    background-color: transparent;
    border: none;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    padding: 0;
    width: 40%;
}

.grid-boxes button:hover{
    color: #FFA7C3;
    cursor: pointer;
}


footer{
    background-color: #13183F;
    width: 100%;
}

.footer{
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.footer-btn{
    background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);;
}    

.footer-btn:hover{
    opacity: 0.5;
    cursor: pointer;
}

/* Tablet styles */
@media only screen and (min-width: 650px) {
    body {
        font-size: 18px;
        
    }
    
    #container {
        max-width: 900px;
        /*padding: 2rem;*/
        position: relative;
    }

    nav{
        justify-content: space-around;
    }

    .nav-button{
        font-size: 1em;
    }

    header{
        padding: 1.5em;

    }

    .btn{
        padding: 1em 2.4em;
        border-radius: 50px;
        border: none;
        color: #fff;
        border: none;
    }

      .header-flex{
        padding: 3em 2em;
        flex-wrap: nowrap;
        margin-bottom: 60px;
        margin: 0 auto 5em;
    }

    .item{
        flex-basis:28em ;
    }


    .item h1{
        font-size: 2.3rem;
        font-weight: 800;
    }

    .item p{
        font-size: 1rem;
        line-height: 1.5em;
        color: #83869A;
    }

    #container picture{
        width: 100%;
        height: auto;
        overflow: hidden;
        
    }

    
 .hero-image {
    position: absolute;
    top: -60px;
    right: -200px;
    width: 600px;      /* adjust as needed */
    max-width: none;
    z-index: 2;
    display: block;
}
    /*-----main-----*/

    .grid{
        margin-top: 2em;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    
}

/* Desktop styles */
@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
    #container {
        max-width: 1440px;
        /*padding: 3rem;*/
    }

    nav{
         justify-content: space-around
    }

    .logo{
        width: 40%;
    }

    .header-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: visible; /* allow overflow */
        margin: 0 auto 15em;
  }

  .item{
    flex-basis: 40em;
  }
    .grid{
        grid-template-columns: repeat(3, 1fr)
    }
  

    .hero-image {
        position: absolute;
        top: -60px;
        right: -12;
        width: 60%;      /* adjust as needed */
        z-index: 2;
        display: block;
    }

    footer{
        padding: 1em;
    }
}